{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">

    {% include 'base/title_header.html' %}

    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              {{title_complete}}
            </h2>
              <div class="header-btn">
                  <a href="{{add_url}}" class="btn btn-success"><i class="material-icons">&#xE148;</i><span> ADICIONAR</span></a>
                  <button class="btn btn-success btn-submeter-horas"><i class="material-icons">check</i><span> SUBMETER</span></button>
                  <button class="btn btn-red btn-remover-submeter-horas"><i class="material-icons">&#xE872;</i></button>
              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table">
              <thead>
                <tr>
                    <th>Seg</th>
                    <th>Ter</th>
                    <th>Qua</th>
                    <th>Qui</th>
                    <th>Sex</th>
                    <th>Sab</th>
                    <th>Dom</th>
                    <th>Semana</th>
                    <th>Projeto</th>
                    <th>Situação</th>
                    <th>Selecionar</th>

                </tr>
              </thead>

              <tbody>
               {% if all_natops%}
               {% for natop in all_natops %}
                 <tr>
                   <td>{{natop.hr_seg}}</td>
                   <td>{{natop.hr_ter}}</td>
                   <td>{{natop.hr_qua}}</td>
                   <td>{{natop.hr_qui}}</td>
                   <td>{{natop.hr_sex}}</td>
                   <td>{{natop.hr_sab}}</td>
                   <td>{{natop.hr_dom}}</td>
                   <td>{{natop.semanas}}</td>
                   <td>{{natop.projeto}}</td>
                   <td>
                    {% if natop.situacao == 1  %}
                        <a class="btn btn-success"><span> SUBMETIDA</span></a>
                    {% endif %}
                   </td>

               <td class="lista-remove">

                    {% if natop.situacao == 0  %}
                        <input type="checkbox" name="{{natop.id}}" id="remover-entrada-{{natop.id}}"/>
                        <label class="remove-entry-label" for="remover-entrada-{{natop.id}}"></label>
                    {% endif %}


                </td>
              </tr>
              {% endfor %}
              {%else%}
              {%endif%}
            </tbody>
          </table>
        </div>

      </div>

    </form>

  </div>
</div>

</div>
</section>


{%endblock%}